<body id="fondoInvitar">
    <div class="container">
        <div class="row">
            <p>
                <br>
                <br>
            </p>
            <form>
                <div class="form-group">
                    <div class="col">
                        <label for="exampleInputEmail1" style="font-weight: bold;font-size:20px;color:whitesmoke">Ingrese el correo electrónico al que desea invitar</label>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            >
                    </div>
                    <p>
                    </p>
                    <div class="col" >
                        <button type="submit" class="btn btn-primary">Generar link</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</body>
