<div id="viewport"><!-- Sidebar -->
  <div id="sidebar">
    <header>
      <a >QUINIELA UMG</a>
    </header>
    <ul class="nav">
      <li>
        <a href="#">
          <button class="zmdi zmdi-view-inicio">INICIO</button> 
        </a>
      </li>
      <li>
        <a (click)="navegar3()" href="/crear-ligas">
          <button class="zmdi zmdi-creacion de ligas">CREACION DE  LIGAS</button> 
        </a>
      </li>
      <li>
        <a (click)="navegar3()" href="/crear-ligas">
          <button class="zmdi zmdi-creacion de ligas">UNIRSE A LIGA</button> 
        </a>
      </li>
      <li>
        <a (click)="navegar1()" href="/misligas">
          <button class="zmdi zmdi-mis ligas">MIS LIGAS</button> 
        </a>
      </li>
      <li>
        <a (click)="navegar2()" href="/clasificaciones">
          <button class="zmdi zmdi-clasificaciones">RESULTADO PARTIDOS</button> 
        </a>
      </li>
    </ul>
  </div>
  <div id="content">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#"><i class="zmdi zmdi-notifications text-danger"></i>
            </a>
          </li>
          <li>
              <h1>BIENVENIDO</h1>
          </li>
        </ul>
      </div>
    </nav>
    <div class="contenedor">
      <h2>LIGAS DISPONIBLES</h2>
          <ul class="list-group">
          <li class="list-group-item disabled"></li>
          <button type="button" class="btn btn-primary btn-lg btn-block">Liga 1</button>
          <li class="list-group-item disabled"></li>
          <button type="button" class="btn btn-primary btn-lg btn-block">Liga 2</button>
          <li class="list-group-item disabled"></li>
          <button type="button" class="btn btn-primary btn-lg btn-block">Liga 3</button>
          <li class="list-group-item disabled"></li>
          <button type="button" class="btn btn-primary btn-lg btn-block">Liga 4</button>
          <li class="list-group-item disabled"></li>
          <button type="button" class="btn btn-primary btn-lg btn-block">Liga 5</button>
          <li class="list-group-item disabled"></li>
          </ul>
    </div>
  </div>
</div>

